#background {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    padding: 4.3%;
    text-shadow: 2px 2px 4px whitesmoke;
}

.gameDay {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px whitesmoke;
}

#AM-game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    text-shadow: 2px 2px 4px whitesmoke;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px whitesmoke;
}

.field {
    text-shadow: 2px 2px 4px whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#PM-game {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    text-shadow: 2px 2px 4px whitesmoke;
}

.date {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px whitesmoke;
}

.time {
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px whitesmoke;
}

#late-game {
    margin-top: 20%;
}

.events {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    text-shadow: 1px 1px 3px whitesmoke;
    color: black;
}

.btn {
    border: 2px solid black;
    margin-top: 5%;
    text-shadow: 1px 1px whitesmoke;
    color: black;
    opacity: 0.7;
}

div.btn-container a {
    font-weight: bold;
}

.home-btn {
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 10%;
}

.home-btn a {
    width: 50%;
}

#back-and-home-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}

#back-and-home-btn a {
    width: auto;
    height: auto;
    font-weight: bold;
}

#upcoming-game {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 20%;
    margin-left: 25%;
    text-shadow: 2px 2px 4px whitesmoke;
}

#game-over {
    margin-top: 300px;
    font-weight: bold;
    border: 2px solid black;
    text-shadow: 1px 1px whitesmoke;
    color: black;
    opacity: 0.8;
}

.game-over {
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px whitesmoke;
    opacity: 0.7;
}

.about {
    opacity: 1;
    text-shadow: 1px 1px 3px whitesmoke;
    color: black;
}

.logo {
    width: 75px;
    height: 75px;
}

.table {
    text-shadow: 2px 2px 4px whitesmoke;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 400px;
}

.input {
    width: 50px;
    height: 50px;
}

.end-result {
    display: flex;
    justify-content: space-around;
}