<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="NYSL-app.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <title>NYSL</title>
</head>

<body>

    <div id="app">

        <div class="background-img">
            <img src="soccer-field(1).png" alt="soccer field" id="background">
        </div>

        <div class="background-img-landscape">
            <img src="soccer-field.png" alt="soccer field" id="background-landscape">
        </div>

        <!-- login/logout  -->
        <div class="chat">
            <div class="advice" v-if="!loginStatus">
                <h3 class="title">You must to be logged in!</h3>
                <button id="login" @click="login(); loginStatus = true" class="form-control">Login!</button>
            </div>
            <button @click="logout(); loginStatus = false" id="logout" v-if="loginStatus"
                class="form-control">Logout</button>

            <div class="card border-success mb-3 scroll" id="scroll">
                <div v-for="post in messages"
                    v-bind:class="{'yourMessage': true, 'myMessage': (post.email === firebase.auth().currentUser.email)}"
                    v-if="loginStatus" id="chat">
                    <p class="card-text">{{post.body}}</p>
                    <div class="card-footer bg-transparent border-success">{{post.name}}</div>
                </div>
            </div>

        </div>
        <input type="text" class="form-control" v-if="loginStatus" v-model="message" @keyup.enter="saveMessage"
            placeholder="Say something...">
        <button @click="saveMessage" v-if="loginStatus" class="form-control">Send</button>

        <!-- back and home btn  -->
        <div id="back-and-home-btn">
            <a type="button" id="home" href="index.html" class="btn">Home</a>
        </div>
    </div>
</body>

<!-- CHANGE THIS CODE BY YOURS -->

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<!-- <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-analytics.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-database.js"></script>

<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCLLfV_7NYpsFXLw_2ioaGm7Y9MOBhBkqs",
        authDomain: "nysl-app-f9866.firebaseapp.com",
        databaseURL: "https://nysl-app-f9866.firebaseio.com",
        projectId: "nysl-app-f9866",
        storageBucket: "nysl-app-f9866.appspot.com",
        messagingSenderId: "562959138061",
        appId: "1:562959138061:web:6e3174bbd03d95e894c444",
        measurementId: "G-R7NGCDMF6S"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    // firebase.analytics();
</script>

<!-- vue  -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="NYSL-app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-chat-scroll@1.3.6/dist/vue-chat-scroll.min.js"></script>

</html>